*{
    font-family: monospace;
    color: aliceblue;
}
.body{
    background-image: url("bg.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}
.header{
    display: flex;
    justify-content: center;
    margin-bottom: 3%;
    margin-top: 2%;
    font-size: 2.5vh;
    
}

.heading{
    height:8vh ;
    width: 30%;
    margin-right: 1%;
    
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(10px);
    border-radius: 1.8vh;
    display: flex;
    justify-content: center;
    align-items: center;


}
.date{
    height:8vh ;
    width:30%;
    margin-left: 1%;
    margin-right: 1%;
   
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(10px);
    border-radius: 1.8vh;
    display: flex;
    justify-content: center;
    align-items: center;

}
.city{
    height:8vh ;
    width:30%;
    margin-left: 1%;
   
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(10px);
    border-radius: 1.8vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.dataText{
    height:40vh ;
    width: 45%;
    margin-right: 2%;
    display: flex;
    justify-content: center;
    align-items: center;
   
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(10px);
    border-radius: 1.8vh;
}
.temp{
    height:40vh ;
    width: 45%;
    margin-left: 2%;
    display: flex;
    justify-content: center;
    align-items: center;
    
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(10px);
    border-radius: 1.8vh;
}
.middle{
    display: flex;
    justify-content: center;
    font-size: 7vh;
}
.footer{
    display: flex;
    justify-content: center;
    margin-top: 3%;
    font-size: 5vh;
}
.feelslike{
    height: 25vh;
    width:28.5%;
    
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(10px);
    border-radius: 1.8vh;
    margin-right: 2%;
    display: grid; place-items: center; height: 200px;
  
}
.windspeed{
    height: 25vh;
    width:28.5%;
    
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(10px);
    border-radius: 1.8vh;
    margin-left: 2%;
    margin-right: 2%;
    display: grid; place-items: center; height: 200px;

}
.humidity{
    height: 25vh;
    width:28.5%;
   
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(10px);
    border-radius: 1.8vh;
    margin-left: 2%;
    display: grid; place-items: center; height: 200px;
    
    
}
.icon{
   height: 10vh;
  
}
#myInput{
    height: 3.5vh;
    width: 40vh;
    border-radius: 1vh;
    background-color: rgb(158, 202, 202);
    border: none;
    font-size: large;
}
#myButton{
    height: 3.5vh;
    width: 12vh;
    margin-left: 2vh;
    border-radius: 1vh;
    background-color: rgb(140, 185, 185);
    border: none;
}
.he{
    display: flex;
    justify-content: center;
    font-size: 1.5vh;
}